.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h {
  padding: 0;
  margin: 0;
  color: white;
}
.text {
  padding: 0;
  margin: 0;
  color: white;
}
.imgElement {
  border: 3px solid white;
  height: 230px;
  width: 135px;
}
.skeleton {
  border: 1px solid black;
  height: 210px;
  width: 120px;
}

.sliderElement {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  height: 90%;
  width: 90%;
}
