.sliderWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sliderContainer {
	width: 90%;
}

.sliderElement {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sliderContent {
	height: 90%;
	width: 90%;
}
